.profile-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.profile-card {
  display: flex;
  gap: 16px;
  width: 40%;
  align-items: center;
}

.profile-avatar {
  width: 100px;
  height: 100px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action-buttons {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.profile-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-summary {
  margin-top: 12px;
}

.shift-card {
  width: 300px;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
